@import "tailwindcss";

@font-face {
  font-family: 'Cinzel';
  src: url('/fonts/cinzel-regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Cinzel';
  src: url('/fonts/cinzel-bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

.swiper-button-next,
.swiper-button-prev {
  color: #f59e0b !important; /* yellow-400 */
}

.swiper-pagination-bullet-active {
  background: #f59e0b !important;
}